<hr>
<h1>Bienvenido, Registrate y reservaremos la moto que desees</h1>
<hr>
<nav style="padding-top: 2%;">
  <a routerLink="moto" class="btn btn-primary active" role="button" routerLinkActive="active">Registrar Moto</a>
  <a style="padding-right: 2%;"></a>
  <a routerLink="listar-motos" class="btn btn-primary active" role="button" routerLinkActive="active">Lista de Motos</a>
  <a style="padding-right: 2%;"></a>
  <a routerLink="cliente" class="btn btn-primary active" role="button" routerLinkActive="active">Registrar Cliente</a>
  <a style="padding-right: 2%;"></a>
  <a routerLink="reserva" class="btn btn-primary active" role="button" routerLinkActive="active">Registrar Reserva</a>
  <a style="padding-right: 2%;"></a>
  <a routerLink="listar-reservas" class="btn btn-primary active" role="button" routerLinkActive="active">Lista de Reserva</a>
</nav>
<ul>

</ul>
